<%- include('layout/header.ejs') %>

   <section id="about">
      <div class="content">
         <h1>About Me</h1>
         <p>Hello! I am a web developer with expertise in creating visually appealing websites with interactive
            animations.</p>
      </div>
   </section>

   <%- include('layout/footer.ejs') %>