<%- include('layout/header.ejs') %>

   <section id="contact">
      <div class="content">
         <h1>Contact Me</h1>
         <form>
            <input type="text" placeholder="Your Name" required>
            <input type="email" placeholder="Your Email" required>
            <textarea placeholder="Your Message" required></textarea>
            <button type="submit">Send Message</button>
         </form>
      </div>
   </section>
   <%- include('layout/footer.ejs') %>