<%- include('layout/header.ejs') %>
   <section id="services">
      <div class="content">
         <h1>Services</h1>
         <p>Here are the services I offer:</p>
         <ul>
            <li>Web Development</li>
            <li>UI/UX Design</li>
            <li>Animation Integration</li>
            <li>SEO Optimization</li>
         </ul>
      </div>
   </section>

   <%- include('layout/footer.ejs') %>