extends layout/common.pug

block content

   h1 Building strong-u.....Basement konjam weak-u
   section#projects
   .container
      h1 404
      h2 Oops! You found a missing page!
      p
         | Looks like this page went on an adventure and got lost. While we search for it, you can:
      .search-box
         input(type='text', placeholder='Search for what you really wanted...')
         button Search
      p
         | Or go back to our 
         a.home-link(href='/') Home Page
         |  and start fresh.
      .mascot &#x1F575;&#xFE0F;&zwj;&male;&#xFE0F;
      p Don&rsquo;t worry, our internet sleuth is on the case!