extends layout/common.pug

block content
   h1 About Me
   section#about-content
   h2 Hello, I&apos;m [Your Name]
   p
      | I am a web developer with a passion for creating interactive, responsive websites. I specialize in [Your Skills
      | or Expertise], and I enjoy working on projects that involve [Your Interests].
   p When I&rsquo;m not coding, you can find me [Hobbies or Fun Facts About You].