extends layout/common.pug

block content
   h1 My Services
   section#services-content
   h2 What I Offer
   .services-list
      .service
         h3 Web Development
         p
         | Full-stack development services to create responsive, fast, and secure web applications.
      .service
         h3 UI/UX Design
         p Creating intuitive and user-friendly interfaces for the best user experience.
      .service
         h3 SEO Optimization
         p
         | Improving your website&apos;s visibility on search engines through effective SEO strategies.
      .service
         h3 Technical Support
         p Providing technical assistance and solutions for your ongoing projects.