<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>File Upload</title>
</head>

<body>

   <p> Single File Uplod</p>

   <form action="/upload" enctype="multipart/form-data" method="post">
      <label>Uplaod the file</label>
      <input type="file" name="myPic" required>
      <button type="submit">Upload</button>
   </form>

</body>

</html>